@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

#__next,
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
